.c-section{
    display: grid;
 
}
.c-section__title{
font-size: 28px;
  text-align:center;
  color:#fff;
  background-color:#000;
  border: 20px solid #000;
}
.c-services{
  display:grid;
  grid-template-columns:repeat(2,2fr);
  grid-template-rows: repeat(3, 10fr);
  list-style-type:none;
}
.c-services h3{
  font-size:25px;
  display:flex;
  justify-content:center;
}
.c-services p{
  display:flex;
  justify-content: center;
  font-size: 20px;
   margin: 15px;

  
}
.c-services__item{
  margin: 8px 8px 8px 8px;
  width:750px;
  background-color: #f8f8f8c2;
 
 
}
li:hover{
    border: 0.5px outset rgba(248, 248, 248, 0.973);
    background-color: rgba(248, 248, 248, 0.973);
    transition: background-color .5s;
}
